<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/rabbit
           http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 解释 RabbitMQ 和 spring-rmqp 关系 -->

    <!-- init ConnectionFactory RabbitAdmin-->
    <rabbit:connection-factory id="connectionFactory" host="${rabbitmq.host}"/>
    <!-- RabbitAdmin for automatically declaring queues, exchanges and bindings -->
    <rabbit:admin connection-factory="connectionFactory"/>

    <!-- system message config begin -->
    <rabbit:queue name="sysMessQueue" durable="true"/>
    <rabbit:listener-container connection-factory="connectionFactory">
        <rabbit:listener ref="systemMessageListener" method="listen" queue-names="sysMessQueue"/>
    </rabbit:listener-container>

    <bean id="systemMessageListener" class="cn.lefore.messagebus.message.system.SystemMessageListener">
        <property name="systemMessageService" ref="systemMessageService"/>
    </bean>
    <bean id="systemMessageService" class="cn.lefore.messagebus.service.system.impl.SystemMessageServiceImpl">
        <property name="systemMessageJedisDao" ref="systemMessageJedisDao"/>
    </bean>
    <!-- system message config end -->

    <!-- personal message config begin -->
    <rabbit:queue name="personalQueue" durable="true"/>
    <rabbit:queue name="starAddQueue" durable="true"/>
    <rabbit:listener-container connection-factory="connectionFactory">
        <rabbit:listener ref="personMessageListener" method="listenCollection" queue-names="personalQueue"/>
        <rabbit:listener ref="personMessageListener" method="listenStar" queue-names="starAddQueue"/>
    </rabbit:listener-container>

    <bean id="personMessageListener" class="cn.lefore.messagebus.message.personal.PersonMessageListener">
        <property name="personalMessageService" ref="personalMessageService"/>
    </bean>
    <bean id="personalMessageService" class="cn.lefore.messagebus.service.personal.impl.PersonalMessageServiceImpl">
        <property name="personalMessageJedisDao" ref="personalMessageJedisDao"/>
    </bean>
    <!-- personal message config end -->

    <!-- program message config begin -->
    <rabbit:queue name="programMessQueue" durable="true"/>
    <rabbit:queue name="publishStarAndProgramMessQueue" durable="true"/>
    <rabbit:queue name="publishMetisSystemNoticeQueue" durable="true"/>
    <rabbit:queue name="publishDoubanTagAndProgramMessQueue" durable="true"/>
    <!--<rabbit:listener-container connection-factory="connectionFactory">-->
        <!--<rabbit:listener ref=""/>-->
    <!--</rabbit:listener-container>-->

    <!-- program config end -->


</beans>